<app-ingredient *ngIf="isIngredientPage()"
              (currentPageEmit)='changePage($event)'>
</app-ingredient>


<app-stock-received *ngIf="isStockReceivePage()"
           (currentPageEmit)='changePage($event)'>
</app-stock-received>
<app-stock-received-detail *ngIf="isStockReceiveDetailPage()"
                           [id]="this.id"
                           (currentPageEmit)='changePage($event)'>
</app-stock-received-detail>

<app-stock-received-form *ngIf="isStockReceiveCreatePage()"
                    (currentPageEmit)='changePage($event)'>
</app-stock-received-form>



<app-stock-deliver *ngIf="isStockDeliverPage()"
                    (currentPageEmit)='changePage($event)'>
</app-stock-deliver>

<app-stock-deliver-detail *ngIf="isStockDeliverDetailPage()"
                           [id]="this.id"
                           (currentPageEmit)='changePage($event)'>
</app-stock-deliver-detail>

<app-stock-deliver-form *ngIf="isStockDeliverCreatePage()"
                   (currentPageEmit)='changePage($event)'>
</app-stock-deliver-form>
