<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="input-group input-group-sm">

        <label>TimeSheet Status</label>
        <select class="form-control ml-1" id="status" name="status" [(ngModel)]="form.status" #status="ngModel">
          <option value="all">All</option>
          <option value="OPEN">Open</option>
          <option value="APPROVED">Approved</option>
          <option value="CANCELLED">Cancelled</option>
        </select>
        <input class="form-control form-control-navbar ml-1" type="search" placeholder="Search" aria-label="Search" id="employeeName" name="employeeName" [(ngModel)]="form.employeeName" #employeeName="ngModel">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Logout -->
      <li class="nav-item dropdown">
      </li>
    </ul>
  </nav>

  <!-- Menu -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-menu-info></app-menu-info>

    <div class="sidebar">
      <div style="text-align: center">
        <a  class="admin-menu-user">{{tokenStorage.getCurrentDepartment()}}</a>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToEmployeePage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-users"></i>
              <p>Employees</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToLeavePage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-calendar"></i>
              <p>Leaves</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToJobPage()" class="nav-link admin-menu-link">
              <i class="nav-icon far fa fa-tasks"></i>
              <p>Jobs</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active admin-menu-link">
              <i class="nav-icon fas fa fa-th"></i>
              <p>Timesheet</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>TimeSheet</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <a (click)="showDialog(true, null)" class="btn btn-success"><i class="fa fa-plus"></i>New TimeSheet</a>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
            <thead>
            <tr>
              <th style="width: 1%">
                #
              </th>
              <th>Emp ID</th>
              <th>Employee</th>
              <th>For Date</th>
              <th>Note</th>
              <th>Working Hours</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timesheet of timesheets; let i = index;">
              <td>{{i+1}}</td>
              <td>{{timesheet.employee.employeeId}}</td>
              <td>{{timesheet.employee.name}}</td>
              <td>{{timesheet.forDate | date: 'yyyy/MM/dd'}}</td>
              <td class="project-state">
                <span *ngIf="isWorked(timesheet)" class="badge badge-primary">{{timesheet.timesheetType}}</span>
                <span *ngIf="isLeavedWithPaying(timesheet)" class="badge badge-success">{{timesheet.timesheetType}}</span>
                <span *ngIf="isLeavedWithoutPaying(timesheet)" class="badge badge-danger">{{timesheet.timesheetType}}</span>
              </td>
              <td>{{timesheet.workingHour}}</td>
              <td class="project-state">
                <span *ngIf="isOpen(timesheet)" class="badge badge-primary">{{timesheet.status}}</span>
                <span *ngIf="isApproved(timesheet)" class="badge badge-success">{{timesheet.status}}</span>
                <span *ngIf="isCancelled(timesheet)" class="badge badge-danger">{{timesheet.status}}</span>
              </td>
              <td class="project-actions text-right">
                <a class="btn btn-primary btn-sm mr-1" (click)="showDialog(false, timesheet)">
                  <i class="fa fa-folder"></i>View
                </a>
                <a *ngIf="isOpen(timesheet)" (click)="approveReservation(timesheet.id, i)" class="btn btn-info btn-sm">
                  <i class="fa fa-pencil-alt"></i>Approve
                </a>
                <a *ngIf="isOpen(timesheet)" (click)="cancelReservation(timesheet.id, i)" class="btn btn-danger btn-sm ml-1">
                  <i class="fa fa-trash"></i>Cancel
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0" *ngIf="pages.length>0">
              <li [ngClass]="page==currentPage?'page-item active': 'page-item'" *ngFor="let page of pages">
                <a (click)="gotoPage(page)" class="page-link">{{page}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.facebook.com/thach.phamvan.56211">Pham Van Thach</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>
