<body id="body" class="up-scroll" data-spy="scroll" data-target=".element-right-sidebar">

  <app-frontend-header (currentPageEmit)='changePage($event)'></app-frontend-header>

  <div class="main-wrapper confirmation">
  <section class="page-title" style="background-image: url(assets/resource/page-title-img.jpg);">
  </section>

  <div class="element-wrapper">
    <section class="py-8 py-lg-10">
      <div class="container">
        <div class="mb-10">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8">
              <div class="section-title mb-4">
                <h2 class="text-center mb-0">Thank You For Your Order</h2>
              </div>
              <div class="text-center">
                <p>Thanks for shopping! Your order hasn’t shipped yet but we will send you an email when it does.</p>
                <p class="mb-5">Order ID: <span class="text-dark">{{id}}</span></p>

                <a class="btn btn-outline-dark text-uppercase letter-spacing-5 px-7 py-5 mb-5 mb-md-0 mr-md-2 app-link" (click)="goToHomePage()">Back To Shop</a>
                <a class="btn btn-outline-dark text-uppercase letter-spacing-5 px-7 py-5 ml-md-2 app-link" (click)="goToTrackPage()">Track Order</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-xl-3">
            <div class="media align-items-start mb-6 mb-md-7 mb-xl-0">
              <div class="mr-4">
                <img src="assets/resource/shipping.png" alt="shipping">
              </div>
              <div class="media-body">
                <h4 class="">Free Shipping</h4>
                <p class="text-capitalize mb-0">Free Shipping On All US Orders</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-3">
            <div class="media align-items-start mb-6 mb-md-7 mb-xl-0">
              <div class="mr-4">
                <img src="assets/resource/money-back.png" alt="money-back">
              </div>
              <div class="media-body">
                <h4 class="">Money Back Guarantee</h4>
                <p class="text-capitalize mb-0">We return money within 30 days</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-3">
            <div class="media align-items-start mb-6 mb-md-0">
              <div class="mr-4">
                <img src="assets/resource/security.png" alt="security">
              </div>
              <div class="media-body">
                <h4 class="">Secure Payments</h4>
                <p class="text-capitalize mb-0">All Payment Are Secured And Trusted.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-3">
            <div class="media align-items-start">
              <div class="mr-4">
                <img src="assets/resource/customer-support.png" alt="customer-support">
              </div>
              <div class="media-body">
                <h4 class="">Customer Support</h4>
                <p class="text-capitalize mb-0">All Payment Are Secured And Trusted.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


  <!--  footer-->
  <app-frontend-footer></app-frontend-footer>
</div>
</body>
