<app-receipt *ngIf="isReceiptPage()"
                (currentPageEmit)='changePage($event)'>
</app-receipt>


<app-payslip *ngIf="isPayslipPage()"
                    (currentPageEmit)='changePage($event)'>
</app-payslip>

<app-payroll *ngIf="isPayrollPage()"
             (currentPageEmit)='changePage($event)'>
</app-payroll>
<app-payroll-detail *ngIf="isPayrollDetailPage()"
                           [id]="this.id"
                           (currentPageEmit)='changePage($event)'>
</app-payroll-detail>


<app-stock-received *ngIf="isRequestFromStockPage()"
                    (currentPageEmit)='changePage($event)'>
</app-stock-received>
<app-stock-received-detail *ngIf="isRequestFromStockDetailPage()"
                           [id]="this.id"
                           (currentPageEmit)='changePage($event)'>
</app-stock-received-detail>



<app-report *ngIf="isReportPage()"
                   (currentPageEmit)='changePage($event)'>
</app-report>
