<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="input-group input-group-sm">
        <label>Stock receive Status</label>
        <select class="form-control ml-1" id="status" name="status" [(ngModel)]="form.status" #status="ngModel" [disabled]="tokenStorage.hasAccountingRole()">
          <option value="all">All</option>
          <option value="ACCOUNTING_WAITING">Waiting for Accounting</option>
          <option value="ACCOUNTING_APPROVED">Approved by Acc Dept</option>
          <option value="STOCK_APPROVED">Approved by Stock Dept</option>
          <option value="CANCELLED">Cancelled</option>
        </select>

        <input class="form-control form-control-navbar ml-1" type="search" placeholder="Search ref" aria-label="Search" id="stockRef" name="stockRef" [(ngModel)]="form.stockRef" #stockRef="ngModel">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

  </nav>

  <!-- Menu -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-menu-info></app-menu-info>

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a class="d-block">{{tokenStorage.getCurrentDepartment()}}</a>
        </div>
      </div>

      <nav class="mt-2">
        <ul *ngIf="tokenStorage.hasStockRole()" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToIngredientPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-pagelines"></i>
              <p>Ingredients</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active admin-menu-link">
              <i class="nav-icon fas fa fa-cart-plus"></i>
              <p>Stock Receive</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockReceiveCreatePage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cart-plus"></i>
              <p>Create Stock Receive</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockDeliverPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cart-arrow-down"></i>
              <p>Stock Deliver</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockDeliverCreatePage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cart-arrow-down"></i>
              <p>Create Stock Deliver</p>
            </a>
          </li>
        </ul>
        <ul *ngIf="tokenStorage.hasAccountingRole()" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToReceiptPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-money"></i>
              <p>Receipt</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToPayslipPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-money"></i>
              <p>Payslip</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToPayrollPage()" class="nav-link">
              <i class="nav-icon far fa fa-credit-card"></i>
              <p>Payroll</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active">
              <i class="nav-icon far fa fa-credit-card"></i>
              <p>Request from stock</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToReportPage()" class="nav-link">
              <i class="nav-icon fas fa fa-pie-chart"></i>
              <p>Report</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <!-- Main Content-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Stock Receive</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
            <thead>
            <tr>
              <th style="width: 1%">
                #
              </th>
              <th>Stock Ref</th>
              <th>Date</th>
              <th>Created By</th>
              <th>Total Price</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stock of stocks; let i = index;">
              <td>{{i+1}}</td>
              <td>
                <a>{{stock.stockRef}}</a>
              </td>
              <td>{{stock.date}}</td>
              <td>
                {{stock.createdBy}}
              </td>
              <td>
                {{stock.totalPrice}}
              </td>
              <td class="project-state">
                <span *ngIf="isAccountingWaiting(stock)" class="badge badge-primary">{{stock.status}}</span>
                <span *ngIf="isAccountingApproved(stock)" class="badge badge-success">{{stock.status}}</span>
                <span *ngIf="isStockApproved(stock)" class="badge badge-dark">{{stock.status}}</span>
                <span *ngIf="isCancelled(stock)" class="badge badge-danger">{{stock.status}}</span>
              </td>
              <td class="project-actions text-right">
                <a class="btn btn-primary btn-sm mr-1" (click)="goToStockReceiveDetailPage(stock.id)"><i class="fa fa-folder"></i>View</a>
<!--                <a *ngIf="tokenStorage.hasAccountingRole()" class="btn btn-primary btn-sm mr-1" href="management/request-from-stock/detail/{{stock.id}}"><i class="fa fa-folder"></i>View</a>-->
                <a *ngIf="isAccountingWaiting(stock) && tokenStorage.hasAccountingRole()" (click)="accountingApprove(stock.id, i)" class="btn btn-info btn-sm">
                  <i class="fa fa-pencil-alt"></i>Accounting Approve
                </a>
                <a *ngIf="isAccountingApproved(stock)" (click)="approveStock(stock.id, i)" class="btn btn-info btn-sm">
                  <i class="fa fa-pencil-alt"></i>Stock Approve
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0" *ngIf="pages.length>0">
              <li [ngClass]="page==currentPage?'page-item active': 'page-item'" *ngFor="let page of pages">
                <a (click)="gotoPage(page)" class="page-link">{{page}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </section>
  </div>

  <!--    Footer-->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.facebook.com/thach.phamvan.56211">Pham Van Thach</a>.</strong> All rights reserved.
  </footer>
</div>
</body>
