<footer class="footer">
  <div class="py-8 py-lg-10">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="mb-7 mb-lg-0">
            <a class="mb-5 d-inline-block" href="home">
              <img src="assets/resource/logo.png" style="width: 250px;height: 80px">
            </a>

            <p class="mb-5">FoodProducer is a company which produces and provides vietnamese food </p>

            <ul class="list-unstyled d-flex">
              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-facebook mr-5" aria-hidden="true"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-twitter mr-5" aria-hidden="true"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-skype mr-5" aria-hidden="true"></i>
                </a>
              </li>


              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-google-plus mr-5" aria-hidden="true"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0)">
                  <i class="fa fa-weixin mr-5" aria-hidden="true"></i>
                </a>
              </li>
            </ul>

            <div class="copyright">
              <p class="text-uppercase">Copyright © 2019 All Rights Reserved by <a href="https://www.facebook.com/thach.phamvan.56211">Thach</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4">
          <div class="navigation mb-7 mb-md-0">
            <div class="section-title mb-6">
              <h6>Navigation</h6>
            </div>

            <ul class="list-unstyled">
              <li class="mb-3">
                <a class="d-inline-block" [routerLink]="['/about-us']">About Us</a>
              </li>

              <li class="mb-3">
                <a class="d-inline-block" [routerLink]="['/menu']">Menu</a>
              </li>

              <li class="mb-3">
                <a class="contact-us">Contact us</a>
              </li>

              <li class="mb-3">
                <a class="d-inline-block" [routerLink]="['/jobs']">Careers</a>
              </li>

              <li class="mb-3">
                <a class="d-inline-block" [routerLink]="['/reservation']">Reservations</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="mb-7 mb-md-0">
            <h6>Contact info</h6>

            <ul class="list-unstyled contact-info mb-5">
              <li class="media align-items-baseline mb-5">
                <div class="mr-4">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="media-body">
                  <p class="font-size-14 text-white opacity-8 mb-0">AMA University, Quezon City, Metro Manila</p>
                </div>
              </li>

              <li class="media align-items-baseline mb-5">
                <div class="mr-4">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="media-body">
                  <p class="font-size-14 mb-0"><a href="tel:09167568096"> +9167568096</a></p>
                </div>
              </li>

              <li class="media align-items-baseline mb-5">
                <div class="mr-4">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="media-body">
                  <p class="mb-0"><a class="" href="mailto:phamvanthach.ama@gmail.com">phamvanthach.ama@gmail.com</a></p>
                </div>
              </li>

              <li class="media align-items-baseline mb-5">
                <div class="mr-4">
                  <i class="fa fa-globe"></i>
                </div>
                <div class="media-body">
                  <p class="mb-0"><a class="" href="home">www.foodproducer.com</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
