<body id="body" class="up-scroll" data-spy="scroll" data-target=".element-right-sidebar">

  <app-frontend-header currentPage="career" (currentPageEmit)='changePage($event)'></app-frontend-header>

  <div class="main-wrapper services">
  <section class="page-title" style="background-image: url(assets/resource/page-title-img.jpg);">
  </section>

  <div class="element-wrapper">
    <section class="py-8 py-lg-10">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-7 col-xl-6">
            <div class="mb-6 text-center">
              <div class="section-title">
                <h2>Jobs</h2>
              </div>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div *ngFor="let item of jobs" class="col-md-6 col-lg-4">
            <div class="card card-hover border-0 rounded-0 mb-7">
              <a class="position-relative mb-5">PHP {{item.salary  | number}} / month</a>
              <div class="card-body p-0">
                <a class="d-block app-link" (click)="goToJobDetailPage(item.id)">
                  <h4 class="card-text-hover">{{item.position}}</h4>
                </a>
                <p class="mb-0">{{item.description}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>


  <!--  footer-->
  <app-frontend-footer></app-frontend-footer>
</div>
</body>
