<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="input-group input-group-sm">
        <label>Quantity in stock</label>
        <select class="form-control ml-1" id="quantity" name="quantity" [(ngModel)]="form.quantity" #quantity="ngModel">
          <option value="all">All</option>
          <option value="0-0">Out of stock</option>
          <option value="1-50">1 - 50</option>
          <option value="51-100">51 -100</option>
          <option value="101-150">101 - 150</option>
          <option value="151-200">151 - 200</option>
        </select>

        <input class="form-control form-control-navbar ml-1" type="search" placeholder="Search name" aria-label="Search" id="name" name="name" [(ngModel)]="form.name" #name="ngModel">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

  </nav>

  <!-- Menu -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-menu-info></app-menu-info>

    <div class="sidebar">
      <div style="text-align: center">
        <a  class="admin-menu-user">{{tokenStorage.getCurrentDepartment()}}</a>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active admin-menu-link">
              <i class="nav-icon fas fa fa-pagelines"></i>
              <p>Ingredients</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockReceivePage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cart-plus"></i>
              <p>Stock Receive</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockReceiveCreatePage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cart-plus"></i>
              <p>Create Stock Receive</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockDeliverPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cart-arrow-down"></i>
              <p>Stock Deliver</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockDeliverCreatePage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cart-arrow-down"></i>
              <p>Create Stock Deliver</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <!-- Main Content-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ingredients</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a (click)="showDialog(true, null)" class="btn btn-success"><i class="fa fa-plus"></i>New Ingredient</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
            <thead>
            <tr>
              <th style="width: 1%">
                #
              </th>
              <th>Name</th>
              <th>Unit</th>
              <th>Quantity</th>
              <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingredient of ingredients; let i = index;">
              <td>{{i+1}}</td>
              <td>{{ingredient.name}}</td>
              <td>{{ingredient.unit}}</td>
              <td class="project-state">
                <span *ngIf="ingredient.currentQuantity>=10" class="badge badge-primary">{{ingredient.currentQuantity}}</span>
                <span *ngIf="ingredient.currentQuantity==0" class="badge badge-dark">{{ingredient.currentQuantity}}</span>
                <span *ngIf="ingredient.currentQuantity>0 && ingredient.currentQuantity<10"class="badge badge-danger">{{ingredient.currentQuantity}}</span>
              </td>

              <td class="project-state">
                <span *ngIf="ingredient.currentQuantity>=10" class="badge badge-primary">Good in stock</span>
                <span *ngIf="ingredient.currentQuantity==0" class="badge badge-dark">Out of stock</span>
                <span *ngIf="ingredient.currentQuantity>0 && ingredient.currentQuantity<10"class="badge badge-danger">Less than 10</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0" *ngIf="pages.length>0">
              <li [ngClass]="page==currentPage?'page-item active': 'page-item'" *ngFor="let page of pages">
                <a (click)="gotoPage(page)" class="page-link">{{page}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </section>
  </div>

  <!--    Footer-->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.facebook.com/thach.phamvan.56211">Pham Van Thach</a>.</strong> All rights reserved.
  </footer>
</div>
</body>
