<div class="modal-content">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Job</h3>
      <div class="card-tools">
        <button (click)="close()" type="button" class="btn btn-tool" data-card-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="card-body max-dialog">
        <div class="form-group">
          <label for="position">Position:</label>
          <input type="text" class="form-control" placeholder="Enter Position" required
                 id="position" name="position" [(ngModel)]="form.position" #position="ngModel"
                 [class.error-validate]="f.submitted && position.invalid && position.errors.required">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" placeholder="description" required rows="8"
                    id="description" name="description" [(ngModel)]="form.description" #description="ngModel"
                    [class.error-validate]="f.submitted && description.invalid && description.errors.required">

          </textarea>
        </div>

        <div class="form-group">
          <label for="experienceYear">Experience Year Required</label>
          <input type="number" class="form-control" placeholder="Experience Year" required
                 id="experienceYear" name="experienceYear" [(ngModel)]="form.experienceYear" #experienceYear="ngModel"
                 [class.error-validate]="f.submitted && experienceYear.invalid && experienceYear.errors.required">
        </div>

        <div class="form-group">
          <label for="experienceYear">Education Level</label>
          <input type="text" class="form-control" placeholder="Education Level" required
                 id="educationLevel" name="educationLevel" [(ngModel)]="form.educationLevel" #educationLevel="ngModel"
                 [class.error-validate]="f.submitted && educationLevel.invalid && educationLevel.errors.required">
        </div>

        <div class="form-group">
          <label for="experienceYear">Expired Date</label>
          <input [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker" type="text" class="form-control" placeholder="Expired Date" required
                 id="expiredDate" name="expiredDate" [(ngModel)]="form.expiredDate" #expiredDate="ngModel"
                 [class.error-validate]="f.submitted && expiredDate.invalid && expiredDate.errors.required">
          <owl-date-time [pickerType]="'calendar'" #datepicker></owl-date-time>
        </div>

        <div class="form-group">
          <label for="experienceYear">Salary</label>
          <input type="text" class="form-control" placeholder="salary" required
                 id="salary" name="salary" [(ngModel)]="form.salary" #salary="ngModel"
                 [class.error-validate]="f.submitted && salary.invalid && salary.errors.required">
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-primary">OK</button>
      </div>
    </form>
  </div>
</div>
