<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Menu -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-menu-info></app-menu-info>

    <div class="sidebar">
      <div style="text-align: center">
        <a  class="admin-menu-user">{{tokenStorage.getCurrentDepartment()}}</a>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToDishPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-delicious"></i>
              <p>Dishes</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active admin-menu-link">
              <i class="nav-icon fas fa fa-shopping-cart"></i>
              <p>Orders</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToReservationPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-cutlery"></i>
              <p>Reservations</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <!-- Main Content-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Orders</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
<!--                <a href="management/orders" class="btn btn-success"><i class="fa fa-backward"></i> Go back</a>-->
                <a (click)="goToOrderPage()" class="btn btn-success"><i class="fa fa-backward"></i> Go back</a>
              </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Customer Information</h3>
              </div>
              <form role="form">
                <div class="card-body">
                  <div class="form-group">
                    <label>Order Reference</label>
                    <input type="text" class="form-control" value="{{order.orderId}}" readonly>
                  </div>
                  <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control"  value="{{order.date}}" readonly>
                  </div>
                  <div class="form-group">
                    <label>Order By</label>
                    <input type="text" class="form-control" value="{{order.orderBy}}" readonly>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" value="{{order.email}}"  readonly>
                  </div>
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" value="{{order.phone}}"  readonly>
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" value="{{order.address}}"  readonly>
                  </div>
                </div>
                <div class="card-footer pull-right">
                  <button *ngIf="isProcessing" class="btn btn-primary" (click)="processOrder(order.id)">Set Processed</button>
                  <button *ngIf="isProcessed" class="btn btn-primary" (click)="deliverOrder(order.id)">Set Delivering</button>
                  <button *ngIf="isDelivering" class="btn btn-primary" (click)="finishOrder(order.id)">Set Finished</button>
                  <button *ngIf="isProcessing || isProcessed" class="btn btn-danger ml-1" (click)="cancelOrder(order.id)">Cancel Order</button>
                </div>
              </form>
            </div>

          </div>

          <div class="col-md-6">
            <div class="card card-warning">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Dishes Ordered</h3>
                  <span *ngIf="isProcessing || isProcessed" class="badge bg-primary pull-right">{{order.status}}</span>
                  <span *ngIf="isDelivering" class="badge bg-success pull-right">{{order.status}}</span>
                  <span *ngIf="isFinished" class="badge bg-dark pull-right">{{order.status}}</span>
                  <span *ngIf="isCancelled" class="badge bg-danger pull-right">{{order.status}}</span>
                </div>
                <div class="card-body p-0">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Dish name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Total price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let orderItem of order.items; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{orderItem.dish.name}}</td>
                      <td>PHP {{orderItem.dish.price}}</td>
                      <td>{{orderItem.quantity}}</td>
                      <td>PHP {{orderItem.dish.price * orderItem.quantity}}</td>
                    </tr>
                    <tr>
                      <td colspan="4"><strong>Total price</strong></td>
                      <td>PHP {{order.totalPrice}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <!--    Footer-->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.facebook.com/thach.phamvan.56211">Pham Van Thach</a>.</strong> All rights reserved.
  </footer>
</div>
</body>
