<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="input-group input-group-sm">

        <label>Year</label>
        <select class="form-control ml-1 mr-1" id="forYear" name="forYear" [(ngModel)]="form.forYear" #forYear="ngModel">
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
        </select>
        <label>Month</label>
        <select class="form-control ml-1 mr-1" id="forMonth" name="forMonth" [(ngModel)]="form.forMonth" #forMonth="ngModel">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
        <label>Sort by: </label>
        <select class="form-control ml-1 mr-1" id="sort" name="sort" [(ngModel)]="form.sort" #sort="ngModel">
          <option value="0">Employee Id</option>
          <option value="1">Salary: Highest to lowest</option>
          <option value="2">Salary: Lowest to highest</option>
        </select>
        <input class="form-control form-control-navbar ml-1" type="search" placeholder="Search empId" aria-label="Search" id="employeeId" name="employeeId" [(ngModel)]="form.employeeId" #employeeId="ngModel">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Logout -->
      <li class="nav-item dropdown">
      </li>
    </ul>
  </nav>

  <!-- Menu -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-menu-info></app-menu-info>

    <div class="sidebar">
      <div style="text-align: center">
        <a  class="admin-menu-user">{{tokenStorage.getCurrentDepartment()}}</a>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToReceiptPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-money"></i>
              <p>Receipt</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToPayslipPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-print"></i>
              <p>Payslip</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active admin-menu-link">
              <i class="nav-icon far fa fa-credit-card"></i>
              <p>Payroll</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockReceiverPage()" class="nav-link admin-menu-link">
              <i class="nav-icon far fa fa-shopping-bag"></i>
              <p>Request from stock</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToReportPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-pie-chart"></i>
              <p>Report</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Payroll</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <a (click)="showDialog(true, null)" class="btn btn-success"><i class="fa fa-plus"></i>New Payroll</a>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
            <thead>
            <tr>
              <th style="width: 1%">
                #
              </th>
              <th>Employee</th>
              <th>Year</th>
              <th>Month</th>
              <th>Salary</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payroll of payrolls; let i = index;">
              <td>{{i+1}}</td>
              <td>{{payroll.employee}}</td>
              <td>{{payroll.forYear}}</td>
              <td>{{payroll.forMonth}}</td>
              <td class="project-state">
                <span class="badge badge-primary">{{payroll.totalSalary}}</span>
              </td>
              <td class="project-actions text-right">
                <a class="btn btn-primary btn-sm mr-1" (click)="goToPayrollDetailPage(payroll.id)">
                  <i class="fa fa-folder"></i>View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0" *ngIf="pages.length>0">
              <li [ngClass]="page==currentPage?'page-item active': 'page-item'" *ngFor="let page of pages">
                <a (click)="gotoPage(page)" class="page-link">{{page}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.facebook.com/thach.phamvan.56211">Pham Van Thach</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>
