<body id="body" class="up-scroll" data-spy="scroll" data-target=".element-right-sidebar">

  <app-frontend-header></app-frontend-header>

  <div class="main-wrapper pages-404">
  <section class="page-title" style="background-image: url(assets/resource/page-title-img.jpg);">
  </section>

  <div class="element-wrapper">
    <section class="page-404">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="contant-404">
              <h1>404</h1>
              <h2>Oops! Page Not Found</h2>

              <div class="">
                <a class="btn btn-dark ext-uppercase px-7" href="home">Go Back</a>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="image-404">
              <img class="img-fluid" src="assets/resource/404.png" alt="">
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>


  <!--  footer-->
  <app-frontend-footer></app-frontend-footer>
</div>
</body>
