<div class="modal-content">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Payroll</h3>
      <div class="card-tools">
        <button (click)="close()" type="button" class="btn btn-tool" data-card-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="card-body max-dialog">
        <div class="form-group">
          <label>Department:</label>
          <select (change)="changeDepartment()" class="form-control ml-1 mr-1" id="department" name="department" [(ngModel)]="form.department" #department="ngModel">
            <option *ngFor="let d of departments" [ngValue]="d">{{d.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Employee:</label>
          <select (change)="changeEmployee()" class="form-control ml-1 mr-1" id="employeeId" name="employeeId" [(ngModel)]="form.employeeId" #employeeId="ngModel"
                  [class.error-validate]="f.submitted && employeeId.invalid && employeeId.errors.required">
            <option *ngFor="let e of employees" [ngValue]="e.employeeId">{{e.name}}</option>
          </select>


          <div class="form-group">
            <label>Year:</label>
            <select class="form-control ml-1 mr-1" id="forYear" name="forYear" [(ngModel)]="form.forYear" #forYear="ngModel">
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
          </div>

          <div class="form-group">
            <label>Month:</label>
            <select class="form-control ml-1" id="forMonth" name="forMonth" [(ngModel)]="form.forMonth" #forMonth="ngModel">
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
      </div>
      <div class="clearfix"></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Close</button>
        <button *ngIf="isNewAction" type="submit" class="btn btn-primary">OK</button>

      </div>
      </div>
    </form>
  </div>
</div>
