<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" name="form">
      <div class="input-group input-group-sm">
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Logout -->
      <li class="nav-item dropdown">
      </li>
    </ul>
  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-menu-info></app-menu-info>

    <div class="sidebar">
      <div style="text-align: center">
        <a  class="admin-menu-user">{{tokenStorage.getCurrentDepartment()}}</a>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToReceiptPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-money"></i>
              <p>Receipt</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToPayslipPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-print"></i>
              <p>Payslip</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active admin-menu-link">
              <i class="nav-icon far fa fa-credit-card"></i>
              <p>Payroll</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToStockReceiverPage()" class="nav-link admin-menu-link">
              <i class="nav-icon far fa fa-shopping-bag"></i>
              <p>Request from stock</p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a (click)="goToReportPage()" class="nav-link admin-menu-link">
              <i class="nav-icon fas fa fa-pie-chart"></i>
              <p>Report</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>Payroll for {{payroll.forMonth}}/{{payroll.forYear}}</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <a (click)="goToPayrollPage()" class="btn btn-success"><i class="fa fa-backward"></i> Go back</a>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-lg-4 col-6">
          <div class="small-box bg-light">
            <div class="inner">
              <h5>Emp ID: {{payroll.employee.employeeId}}</h5>

              <h5>Name : {{payroll.employee.name}}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="small-box bg-light">
            <div class="inner">
              <h5>Department: {{payroll.employee.department.name}}</h5>

              <h5>Salary / Hour : PHP {{payroll.employee.salaryRate}}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="small-box bg-light">
            <div class="inner">
              <h5>Phone: {{payroll.employee.phone}}</h5>

              <h5>Join date : {{payroll.employee.joinDate | date: 'yyyy/MM/dd'}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
            <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th>Date</th>
              <th>Note</th>
              <th>Working Hour</th>
              <th>Salary Per Day</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pi of payroll.items; let i = index;">
              <td>{{i+1}}</td>
              <td>{{pi.ref.forDate | date: 'yyyy/MM/dd'}}</td>
              <td class="project-state">
                <span *ngIf="isWorked(pi.ref)" class="badge badge-primary">{{pi.ref.timesheetType}}</span>
                <span *ngIf="isLeavedWithPaying(pi.ref)" class="badge badge-success">{{pi.ref.timesheetType}}</span>
                <span *ngIf="isLeavedWithoutPaying(pi.ref)" class="badge badge-danger">{{pi.ref.timesheetType}}</span>
              </td>
              <td>{{pi.ref.workingHour}}</td>
              <td>PHP{{pi.salaryPerDay}}</td>
            </tr>

            <tr>
              <td colspan="4"><strong>Salary per month:</strong></td>
              <td><strong>PHP {{payroll.totalSalary}}</strong></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </section>
    <!-- /.content -->
  </div>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2019 <a href="https://www.facebook.com/thach.phamvan.56211">Pham Van Thach</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
</body>
