<div class="modal-content">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">TimeSheet</h3>
      <div class="card-tools">
        <button (click)="close()" type="button" class="btn btn-tool" data-card-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="card-body max-dialog">
        <div class="form-group">
          <label>Employee:</label>
          <select [disabled]="!isNewAction" class="form-control" required id="employeeId" name="employeeId" [(ngModel)]="form.employeeId" #employeeId="ngModel"
                  [class.error-validate]="f.submitted && employeeId.invalid && employeeId.errors.required">
            <option *ngFor="let e of employees" [ngValue]="e.id">{{e.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label >For Date </label>
          <input [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker" type="text" class="form-control" placeholder="For Date" required
                 id="forDate" name="forDate" [(ngModel)]="form.forDate" #forDate="ngModel"
                 [class.error-validate]="f.submitted && forDate.invalid && forDate.errors.required">
          <owl-date-time [pickerType]="'calendar'" #datepicker></owl-date-time>
        </div>
        <div class="form-group">
          <label>Working Hours</label>
          <input type="number" class="form-control" placeholder="Working Hours" required
                 id="workingHour" name="workingHour" [(ngModel)]="form.workingHour" #workingHour="ngModel"
                 [class.error-validate]="f.submitted && workingHour.invalid && workingHour.errors.required">
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Close</button>
        <button *ngIf="isNewAction" type="submit" class="btn btn-primary">OK</button>

        <a *ngIf="!isNewAction && form.status=='OPEN'" (click)="cancelTimeSheet()" class="btn btn-warning">Cancel</a>

        <a *ngIf="!isNewAction && form.status=='OPEN'" (click)="approveTimeSheet()" class="btn btn-primary">Approve</a>
      </div>
    </form>
  </div>
</div>
