<app-dish *ngIf="isDishPage()"
          (currentPageEmit)='changePage($event)'>
</app-dish>



<app-order *ngIf="isOrderPage()"
           (currentPageEmit)='changePage($event)'>
</app-order>

<app-order-detail *ngIf="isOrderDetailPage()"
                  [id]="this.id"
                  (currentPageEmit)='changePage($event)'>
</app-order-detail>


<app-reservation-management *ngIf="isReservationPage()"
                            (currentPageEmit)='changePage($event)'>
</app-reservation-management>
