<div class="modal-content">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Employee</h3>
      <div class="card-tools">
        <button (click)="close()" type="button" class="btn btn-tool" data-card-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <form role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="card-body max-dialog">
        <div class="form-group">
          <label for="name">Department:</label>
          <select class="form-control" required id="departmentId" name="departmentId" [(ngModel)]="form.departmentId" #departmentId="ngModel"
                  [class.error-validate]="f.submitted && departmentId.invalid && departmentId.errors.required">
            <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Sex</label>
          <select class="form-control" required id="sex" name="sex" [(ngModel)]="form.sex" #sex="ngModel"
                  [class.error-validate]="f.submitted && sex.invalid && sex.errors.required">
            <option value="true">Male</option>
            <option value="false">Female</option>
          </select>
        </div>
        <div *ngIf="!isNewAction" class="form-group">
          <label for="name">Employee ID:</label>
          <input type="text" class="form-control" readonly value="{{form.employeeId}}">
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" placeholder="Enter name" required
                 id="name" name="name" [(ngModel)]="form.name" #name="ngModel"
                 [class.error-validate]="f.submitted && name.invalid && name.errors.required">
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" placeholder="Address" required
                 id="address" name="address" [(ngModel)]="form.address" #address="ngModel"
                 [class.error-validate]="f.submitted && address.invalid && address.errors.required">
        </div>

        <div class="form-group">
          <label for="address">Phone</label>
          <input type="text" class="form-control" placeholder="Phone" required
                 id="phone" name="phone" [(ngModel)]="form.phone" #phone="ngModel"
                 [class.error-validate]="f.submitted && phone.invalid && phone.errors.required">
        </div>
        <div class="form-group">
          <label for="address">Birthday</label>
          <input [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker" type="text" class="form-control" placeholder="Birthday" required
                 id="dob" name="dob" [(ngModel)]="form.dob" #dob="ngModel"
                 [class.error-validate]="f.submitted && dob.invalid && dob.errors.required">
          <owl-date-time [pickerType]="'calendar'" #datepicker></owl-date-time>
        </div>
        <div class="form-group">
          <label for="address">Join Date</label>
          <input [owlDateTimeTrigger]="datepicker2" [owlDateTime]="datepicker2" type="text" class="form-control" placeholder="Join Date" required
                 id="joinDate" name="joinDate" [(ngModel)]="form.joinDate" #joinDate="ngModel"
                 [class.error-validate]="f.submitted && joinDate.invalid && joinDate.errors.required">
          <owl-date-time [pickerType]="'calendar'" #datepicker2></owl-date-time>
        </div>
        <div class="form-group">
          <label for="salaryRate">Salary Rate</label>
          <input class="form-control" placeholder="Salary per hour" required
                    id="salaryRate" name="salaryRate" [(ngModel)]="form.salaryRate" #salaryRate="ngModel"
                    [class.error-validate]="f.submitted && salaryRate.invalid && salaryRate.errors.required">
        </div>
        <div class="form-group">
          <label for="address">Available day off</label>
          <input type="text" class="form-control" placeholder="Available day off" required
                 id="currentDayOff" name="currentDayOff" [(ngModel)]="form.currentDayOff" #currentDayOff="ngModel"
                 [class.error-validate]="f.submitted && currentDayOff.invalid && currentDayOff.errors.required">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Photo</label>
          <input type="file" class="form-control" id="exampleInputFile" (change)="onFileChanged($event)" accept=".png,.jpg">
          <div id="messages" *ngIf="!displayOldImages && newImage != null">
            <div>
              <img [src]="newImage" class="rounded mb-3" width="100">
            </div>
          </div>
          <div id="old-messages" *ngIf="displayOldImages">
            <div>
              <img src="{{configuration.host}}/api/guest/file/{{employee.photo}}" class="rounded mb-3" width="100">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-primary">OK</button>
      </div>
    </form>
  </div>
</div>
